/*

COLORS:
  #344E5C dark
  #4AB19D teal
  #EFC958 yellow
  #E17A47 orange
  #EF3D59 red

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* GLOBALS */
* {
  font-family: 'Karla', Verdana, Geneva, Tahoma, sans-serif; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* MAIN VIEW FORMATTING */

.main-container {
  display: flex;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #344E5C;
  background-image: url('../resources/argyle.png');
}

.right-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50vw;
  transform: translateX(100%);
  color: #344E5C;
}

/* LEFT SIDE FORMATTING AND STYLES */
.left-container h1, h2{
  color: #fff;
}

.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.socials-wrapper p {
  color: #fff;
}

/* RIGHT SIDE FORMATTING AND STYLES */

.header {
  height: 50vh;
  background: #4AB19D;
  color: #fff;
}

.content-container {
  height: calc(100vh / 3);
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
}

.content-container hr {
  width: 40%;
  border-top: 6px solid #344E5C;
  margin-top: 0;
}

.skills-list {
  display: flex;
}

.projects {
  background: #f4f3f3;
}

.project-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.project-card {
  background: #fff;
  width: 80%;
  height: auto;
  margin: 20px;
  padding: 15px 40px 30px;
}